doctype html
html
    head
        title Výsledk dotazníku
        link(rel='stylesheet'
href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    body
        header.jumbotron-fluid.bg-dark.p-3 
            h1.text-center.text-white.display-3 #{nadpis}

        main.container
            table(class="table table-striped mt-3 mb-3")
                thead 
                    tr.bg-dark.text-light  
                        th Jméno
                        th Přijmení
                        th Umělec 
                        th Písnička 
                        th Doba poslechu 
                        th Platforma 
                        th Datum
                tbody 
                    each meno in vysledky
                        tr 
                            td #{meno.jmeno}
                            td #{meno.prijmeni}
                            td #{meno.singer}
                            td #{meno.song}
                            td #{meno.vyber}
                            td #{meno.platforma}
                            td #{meno.date}
        footer.bg-dark.p-5
            .container.text-white 
                p.float-right 
                    a(href="/") Zpět k dotazníku
                p &copy; IT2 2024
        
        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
        script(src='https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js')
            